# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environments
.venv/

# Environment variables
.env
*.env

# Ignore chroma DB and local SQLite DB

knowledge_base.db
metadata.json

data
# VSCode or editor folders
.vscode/
